<!DOCTYPE html>
<html>
<head>
	<title>APLIATION</title>
	<link rel="stylesheet" type="text/css" href="application.css">
</head>
<body bgcolor="#d1f2eb">
	<h1>Application Form</h1>
<div id="frame1">
<form method="POST">
	<div id="frame2">
	Name:
	<input type="text" name="uname" placeholder="enter your name"><br></br>
</div>
	<div id="frame3">
SurName:
	<input type="text" name="uname" placeholder="enter ur SurName"><br></br>
</div>
<div id="frame4">
	email id:
	<input type="text" name="uname" placeholder="enter ur email id"><br></br>
</div>
<div id="frame5">
	Gender:
<input type="radio" name="radio">male
<input type="radio" name="radio">female<br></br>
</div>
<div id="frame6">
	Select Branch:
<select>
	<option>ECE</option>
	<option>CSE</option>
	<option>MECH</option>
	<option>CIVIL</option>
</select><br></br>
</div>
<div id="frame7">
	<button>register</button>
</div>

</form>
</div>
</body>
</html>s