h1{
	color: blue;
	text-align: center;
}
#frame
{
	text-align: center;
}
#frame1
{
	text-align: center;
}
#frame2
{
	text-align: center;
}
#frame3
{
	background: pink;
	margin-left: 35%;
	margin-right: 35%;
}