<!DOCTYPE html>
<html>
<head>
	<title>Show Data</title>
		<title>login page</title>
		 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> 
</head>
<body  div class="view" style="background-image: url('https://image.shutterstock.com/image-illustration/paint-like-graphic-illustration-nice-260nw-1252427656.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;" >
	<div>
	<form action="" method="post">
		<div class='container' >
			<h1 class="mt-5">Register Data</h1>
			<div>
				{% with messages=get_flashed_messages() %}
				{% if messages %}

			<ul>
				{% for message in messages %}
				<li><h3>{{message}}</h3></li>
				{% endfor %}

			</ul>
			{% endif %}
			{% endwith %}
			</div>
			<table class="table table-bordered">
				<thead class="thead-dark"> </thead>
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Name</th>
						<th scope="col">Surname</th>
						<th scope="col">Email ID</th>
						<th scope="col">branch</th>
						<th scope="col" colspan="2">Action</th>
					</tr>
					{% for r in reg %}
					<tr>
						<td>{{r.id}}</td>
						<td>{{r.name}}</td>
						<td>{{r.surname}}</td>
						<td>{{r.email}}</td>
						<td>{{r.branch}}</td>
						<th><a href="{{url_for('editData',register_id=r.id)}}">Edit</a></th>
						<th><a href="{{url_for('deleteData',register_id=r.id)}}">Delete</a></th>
					</tr>
					{% endfor %}
			
			</table>
		</div>

	<div class="container">
		<center><button type="button" class="btn btn-success"><a href="{{url_for('addData')}}"><font color="white">Add New Data</font></a></button></center>
	</div>
	</form>	
</body>
</html>